<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/accounts.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>Accounts</title>
</head>
<body>
	{% include 'header.html' %}
	<div class="container">
		<h3 class="accounts-label">Admin Accounts</h3>
		<button class="btn" id="add-admin-btn" data-toggle="modal" data-target="#add-admin-modal"><i class="material-icons add-icon">add</i>ADD ACCOUNT</button>
		<table class="table" id="accounts-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Status</th>
					<th class="action-th">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for account in accounts %}
				<tr>
					<td>{{account.first_name}} {{account.last_name}}</td>
					<td>{{account.email}}</td>
					<td>{{account.status}}</td>
					<td class="action-td">
						<i class="material-icons edit-icon">&#xE3C9;</i>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="modal fade add-modal" id="add-admin-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog add-admin-modal-dialog">
            <div class="modal-content">
                    <div class="modal-header user-modal-header">
                            <span class="modal-title user-modal-title" id="gridSystemModalLabel">New Account</span>
                    </div>
                    <div class="modal-body add-admin-modal-body">
                            <input type="text" class="form-control" id="add_admin_first_name" placeholder="First Name" data-class="input-label" />
                            <input type="text" class="form-control" id="add_admin_last_name" placeholder="Last Name" data-class="input-label" />
                            <input type="email" class="form-control" id="add_admin_email" placeholder="Email" data-class="input-label" />
                            <input type="checkbox" id="is_super_admin" /><span id="is-super-admin-label">Can view and manage accounts.</span>
							<span id="add-admin-error"></span>
                    </div>
                    <div class="modal-footer add-admin-midal-footer">
                            <div class="add-admin-footer-left">
                                    <i class="material-icons save-status-success md-30">done</i>
                            </div>
                            <button id = "add-admin-cancel" type="button" class="btn btn-danger cancel-btn" data-dismiss="modal">Close</button>
                            <button id="save-admin" type="button" class="btn btn-primary done-btn save-admin-btn" disabled data-loading-text="Saving" data-complete-text="Save" onclick="save_admin()"><span>Save</span></button>
                    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
	</div>


	<script src="../static/js/jquery-1.11.0.min.js"></script>
	<script src="../static/js/account_animations.js"></script>
	<script src="../static/js/functions.js"></script>
	<script src="../static/js/floatlabels.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>