<div id="table-container">
	<div id="tabs">
	    <ul class="nav main-nav-tabs nav-tabs">
	        <div class="button-container">
	        	<button class="btn add-user-btn" id="add-student-btn" data-toggle="modal" data-target="#add-staff-modal"><i class="material-icons md-30">add</i></button>
	            <div class="btn-group">
		            <button id="search-btn" onclick="toggle_search()" class="buttons btn"><span class="glyphicon glyphicon-search"></span></button>
		            <button id="refresh-btn" class="buttons btn" onclick="back_home()"><span class="glyphicon glyphicon-repeat"></span></button>
	            </div>
	        </div>          
	    </ul>
	</div>
	<div class="tab-content">
		<div class="tab-pane active" id="staffTab">
			<table class="table">
				<thead>	
					<tr>
						<th class="xs">#</th>
						<th class="short">ID Number</th>
						<th class="short">Last Name</th>
						<th class="short">First Name</th>
						<th class="short">Middle Name</th>
						<th class="short">Department</th>	
					</tr>
					<tr id="staff-search-panel" class="search-panel">
						<td class="xs"></td>	
						<td class="short"><input type="text" id="staff_search_id_no" class="form-control search-text search-staff datepicker"></td>	
						<td class="short"><input type="text" id="staff_search_last_name" class="form-control search-text search-staff"></td>
						<td class="short"><input type="text" id="staff_search_first_name" class="form-control search-text search-staff"></td>
						<td class="short"><input type="text" id="staff_search_middle_name" class="form-control search-text search-staff"></td>
						<td class="short">
							<select id="staff_search_department" class="form-control search-option search-staff-options">
							        <option value="">All</option>
							        {% for department in staff_departments %}
							        <option>{{department.name}}</option>
							        {% endfor %}
							</select>
						</td>
					</tr>
				</thead>
				<tbody id="staff" class="maximized">
					{% if staff[0] %}
					{% for person in staff %}
			        <tr id="{{person.id}}" class="rows" data-toggle="modal" data-target="#edit-staff-modal" onclick="supply_staff_data(this.id)">
			            <td class="xs">{{loop.index}}</td> 
			            <td class="short">{{person.id_no}}</td>   
			            <td class="short">{{person.last_name}}</td>                 
			            <td class="short">{{person.first_name}}</td>                 
			            <td class="short">{{person.middle_name}}</td>                
			            <td class="short">{{person.department}}</td>                
			        </tr>
			        {% endfor %}
					{% else %}
					<tr>
					<td class="no-records">NO RECORDS</td>	
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.search-staff').keypress(function(e){
	    if (e.which == 13) {
	        search_staff();
	    }
	});

	$('.search-staff-options').on('change', function(){
	    search_staff();
	});
</script>