<div class="modal-header generic-background">
        <span class="modal-title user-modal-title" id="gridSystemModalLabel">Student Information</span>
</div>
<div class="modal-body edit-user-modal-body">
        <div class="add-user-section student-info-section">
            <h4>Student Information</h4>
            <div class="left col-sm-6 col-xs-12">
                    <input type="text" value="{{student.last_name}}" class="form-control" id="edit_last_name" placeholder="Last Name" data-class="input-label" />
            </div>
            <div class="right col-sm-6 col-xs-12">
                    <input type="text" value="{{student.first_name}}" class="form-control" id="edit_first_name" placeholder="First Name" data-class="input-label" />
            </div>
            <div class="left col-sm-6 col-xs-12">
                    <input type="text" value="{{student.middle_name}}" class="form-control" id="edit_middle_name" placeholder="Middle Name" data-class="input-label" />
            </div>
            
            <!-- <input type="text" class="form-control" id="add_student_contact" placeholder="Guardian Contact Number" data-class="input-label" /> -->
            <div class="right col-sm-6 col-xs-12">
                    <select class="form-control select" id="edit_level" placeholder="Grade/Level" required>
                            <option selected>{{student.level}}</option>
                            <option>Junior Kinder</option>
                            <option>Senior Kinder</option>
                            <option>1st Grade</option>
                            <option>2nd Grade</option>
                            <option>3rd Grade</option>
                            <option>4th Grade</option>
                            <option>5th Grade</option>
                            <option>6th Grade</option>
                            <option>7th Grade</option>
                            <option>8th Grade</option>
                            <option>9th Grade</option>
                            <option>10th Grade</option>
                            <option>11th Grade</option>
                            <option>12th Grade</option>
                    </select>
            </div>
            <div class="left col-sm-6 col-xs-12">
                    <select class="form-control select" id="edit_section" required>
                            <option selected>{{student.section}}</option>
                            {% for section in sections %}
                            <option>{{section.name}}</option>
                            {% endfor %}
                    </select>
            </div>
            <div class="right col-sm-6 col-xs-12">
                    <input type="text" value="{{student.id_no}}" class="form-control" id="edit_id_no" placeholder="ID Number" data-class="input-label" oninput="validate_student_id_edit(this.value,{{student.id}})" />
            </div>
            <center>
                    <div class="id-loader-container">
                            <span id="edit-student-id-loader" class="id-loader"><img src="../static/images/assets/blue.GIF"></span>
                            <span id="edit-student-id-error"></span>
                    </div>
            </center>
    </div>
    <div class="add-user-section guardian-info-section">
            <div id="guardianInfoLoadingEdit" class="loading">
                    <div class="loader"></div>
            </div>
            <h4>Guardian Information</h4>
            <div class="parent-mobile-container col-xs-12">
                    <div class="left col-sm-6 col-xs-12">
                            <input type="text" value="{{guardian.mobile_number}}" class="form-control" id="edit_guardian_mobile" placeholder="Mobile Number" data-class="input-label" />
                    </div>
            </div>
            <div class="left col-sm-6 col-xs-12">
                    <input type="text" value="{{guardian.last_name}}" class="form-control" id="edit_guardian_last_name" placeholder="Last Name" data-class="input-label" />
            </div>
            <div class="right col-sm-6 col-xs-12">
                    <input type="text" value="{{guardian.first_name}}" class="form-control" id="edit_guardian_first_name" placeholder="First Name" data-class="input-label" />
            </div>
            <div class="left col-sm-6 col-xs-12">
                    <input type="text" value="{{guardian.middle_name}}" class="form-control" id="edit_guardian_middle_name" placeholder="Middle Name" data-class="input-label" />
            </div>
            <div class="right col-sm-6 col-xs-12">
                    <input type="text" value="{{guardian.email}}" class="form-control" id="edit_guardian_email" placeholder="Email" data-class="input-label" />
            </div>
            <div class="left col-sm-6 col-xs-12">
                    <input type="text" value="{{guardian.address}}" class="form-control" id="edit_guardian_address" placeholder="Address" data-class="input-label" />
            </div>
            <div class="right col-sm-6 col-xs-12">
                    <input type="text" value="{{student.parent_relation}}" class="form-control" id="edit_guardian_relation" placeholder="Relation" data-class="input-label" />
            </div>
    </div>
    <div id="studentFeesContainer" class="add-user-section additional-info-section">
        <div class="info-fee-container">
            <div class="fee-title-container">
            <h3 class="fee-label">Fees</h3>
            </div>
            <div class="fee-btn-container">
                <button type="button" class="btn fee-action-btn" data-toggle="modal" data-target="#add-student-fee-modal">Add Fees</button>
                <button type="button" class="btn fee-action-btn" data-toggle="modal" data-target="#collect-payment-modal" onclick="display_balance({{total_fees - total_paid}})">Collect Payment</button>
            </div>
        </div>
        <table class="table additional-info-table">
            <thead>
                <tr>
                    <th class="xs"></th>
                    <th class="short">Fee</th>
                    <th class="short">Category</th>
                    <th class="short">Price</th>
                </tr>
            </thead>
            <tbody class="fees-table">
                {% for fee in student_fees %}
                <tr class="fee-row" id="{{fee.id}}">
                    <td id="{{fee.id}}" class="xs" onclick="remove_fee(this.id,{{student.id}})">
                        <span class="glyphicon glyphicon-remove remove-fee"></span>
                    </td>
                    <td class="short">{{fee.fee_name}}</td>
                    <td class="short">{{fee.fee_category}}</td>
                    <td class="short">Php {{fee.fee_price}}</td>
                </tr>
                {% endfor %}
                <tr class="total-row-label">
                    <td class="xs"></td>
                    <td class="short"></td>
                    <td class="short"></td>
                    <td class="short total-label">Total Fee:</td>
                </tr>
                <tr class="total-row-data">
                    <td class="xs"></td>
                    <td class="short"></td>
                    <td class="short"></td>
                    <td class="short total-fee-data">Php {{total_fees}}</td>
                </tr>
                <tr class="total-row-label">
                    <td class="xs"></td>
                    <td class="short"></td>
                    <td class="short"></td>
                    <td class="short total-label">Paid Amount:</td>
                </tr>

                {% if collected_payments[0] %}
                {% for payment in collected_payments %}
                <tr class="total-row-data">
                    <td class="xs"></td>
                    <td class="short"></td>
                    <td class="short"></td>
                    <td class="short">Php {{payment.amount}} - {{ payment.date }}</td>
                </tr>
                {% endfor %}
                <tr class="total-row-data">
                    <td class="xs"></td>
                    <td class="short"></td>
                    <td class="short"></td>
                    <td class="short total-paid-data">Php {{total_paid}}</td>
                </tr>
                {% else %}
                <tr class="total-row-data">
                    <td class="xs"></td>
                    <td class="short"></td>
                    <td class="short"></td>
                    <td class="short">--</td>
                </tr>
                {% endif %}
                
                <tr class="total-row-label">
                    <td class="xs"></td>
                    <td class="short"></td>
                    <td class="short"></td>
                    <td class="short total-label">Remaining Balance:</td>
                </tr>
                <tr class="total-row-data">
                    <td class="xs"></td>
                    <td class="short"></td>
                    <td class="short"></td>
                    <td class="short remaining-balance-data">Php {{total_fees - total_paid}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer edit-user-modal-footer">
        <button id = "edit-user-cancel" type="button" class="btn btn-danger cancel-btn" data-dismiss="modal">Close</button>
        <button id="{{student.id}}" type="button" class="btn btn-primary edit-done-btn" disabled data-loading-text="Saving" data-complete-text="Save" autocomplete="off">Save</button>
</div>

<script type="text/javascript">

$('.loading').hide();
$('.id-loader').hide();

$('.edit-user-modal-body .form-control').floatlabel({
    labelStartTop:'30px',
    labelEndTop:'-2px'
});

$('.edit-user-modal-body .form-control').on('input propertychange paste', function () {
var re = /[A-Za-z]+$/;
if (($('#edit_last_name').val() != "") && ($('#edit_first_name').val() != "") &&
(re.test($('#edit_last_name').val())) && (re.test($('#edit_first_name').val())) &&
($('#edit_level').val() != null) && ($('#edit_section').val() != null) && ($('#edit_guardian_mobile').val() != null) &&
($('#edit_guardian_last_name').val() != "") && ($('#edit_guardian_first_name').val() != "") &&
($('#edit_guardian_middle_name').val() != "") && ($('#edit_guardian_relation').val() != "") && 
($('#edit_guardian_address').val() != "") && ($('#edit_guardian_email').val() != "") &&
(!isNaN($('#edit_guardian_mobile').val())) && ($('#edit_guardian_mobile').val().length == 11)){
    validate_student_form_edit(true);
}
else{
    validate_student_form_edit(false);
}
});

$('.edit-user-modal-body .form-control').on('change', function () {
var re = /[A-Za-z]+$/;
if (($('#edit_last_name').val() != "") && ($('#edit_first_name').val() != "") &&
(re.test($('#edit_last_name').val())) && (re.test($('#edit_first_name').val())) &&
($('#edit_level').val() != null) && ($('#edit_section').val() != null) && ($('#edit_guardian_mobile').val() != null) &&
($('#edit_guardian_last_name').val() != "") && ($('#edit_guardian_first_name').val() != "") &&
($('#edit_guardian_middle_name').val() != "") && ($('#edit_guardian_relation').val() != "") && 
($('#edit_guardian_address').val() != "") && ($('#edit_guardian_email').val() != "") &&
(!isNaN($('#edit_guardian_mobile').val())) && ($('#edit_guardian_mobile').val().length == 11)){
    validate_student_form_edit(true);
}
else{
    validate_student_form_edit(false);
}
});

$('#edit_guardian_mobile').donetyping(function(){
    fill_guardian_data_edit($(this).val());
});

$('.edit-user-modal-footer .edit-done-btn').on('click', function(){
    $(this).button('loading');
    var last_name = $('#edit_last_name').val();
    var first_name = $('#edit_first_name').val();
    var middle_name = $('#edit_middle_name').val();
    var level = $('#edit_level').val();
    var section = $('#edit_section').val();
    var id_no = $('#edit_id_no').val();
    var user_id = $(this).attr('id')

    var guardian_first_name = $('#edit_guardian_first_name').val();
    var guardian_last_name = $('#edit_guardian_last_name').val();
    var guardian_middle_name = $('#edit_guardian_middle_name').val();
    var guardian_address = $('#edit_guardian_address').val();
    var guardian_mobile = $('#edit_guardian_mobile').val();
    var guardian_email = $('#edit_guardian_email').val();
    var guardian_relation = $('#edit_guardian_relation').val();
    edit_student(last_name, first_name, middle_name, level, section, id_no, user_id, guardian_first_name , guardian_last_name, guardian_middle_name, guardian_address, guardian_mobile, guardian_email, guardian_relation);
});
</script>